HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=e12iL7ZL1ne8IjpZlIhLCEtuwbwNu0cO
DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_USER=admin
DB_PASSWORD=
DB_DATABASE=invosightdb
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt